<div class="adminHomeStyle">
	<div ng-init="AHC.getAdmins()">
		<md-card>
			<div class="pickAdmin">
				<h1>Step Up Admins</h1>
			</div>
		<md-content layout-gt-sm="row" layout-padding layout-align="center center">
			<div ng-repeat="admin in AHC.adminObject.admins">
				<h4>First Name:</h4>{{admin.firstname}}
				<md-divider></md-divider>
				<h4>Last Name:</h4>{{admin.lastname}}
				<md-divider></md-divider>
				<h4>Email:</h4>{{admin.email}}
				<md-divider></md-divider>
				<button ng-click="AHC.deleteAdmins(admin.id)"  md-button style="background-color: #F68628" >Remove</button>
			</div>
			<md-divider></md-divider>
		</md-content>
	</div>
	<div layout-gt-sm="row" layout-padding  layout-align="center center">
		<md-content>
			<h1>Add New Admin</h1>
			<md-input-container>
				<label>First Name</label>
				<input ng-model="AHC.adminFirstNameIn" type="name">
			</md-input-container>

			<md-input-container>
				<label>Last Name</label>
				<input ng-model="AHC.adminLastNameIn" type="name">
			</md-input-container>

			<md-input-container>
				<label>Email</label>
				<input ng-model="AHC.adminEmailIn" type="email">
			</md-input-container>
			<button ng-click="AHC.postAdmins(AHC.adminFirstNameIn, AHC.adminLastNameIn, AHC.adminEmailIn)" md-button class="md-raised md-primary" style="background-color: #008AC0">Add New Admin</button>
		</md-content>
	</div>
	</md-card>
</div>
