  <title>Admin Intern View</title>
  <style>
  /*list styles*/
    ul.a {
      list-style-type: circle;
    }
    /*list style end*/
  </style>
  <div class="admin-tab">
    <!-- admin home tabs -->
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="/updateq">Update Questions</a></li>
      <li><a href="/importexport">Import/Export</a></li>
    </ul>
  </div>
  <!-- contact interns list -->
<h2>Achieve: 30% have responded</h2>
<h2>Discover: 50% have responded</h2>
  <h2>Interns who have checked the box</h2>
  <ul class="a">
    <li>FirstName, LastName, Phone</li>
    <li>FirstName, LastName, Phone</li>
    <li>FirstName, LastName, Phone</li>
  </ul>
  <h2>Flagged Interns(1-2 responses)</h2>
  <ul class="a">
    <li>FirstName, LastName, Phone</li>
    <li>FirstName, LastName, Phone</li>
    <li>FirstName, LastName, Phone</li>
  </ul>
  <h2>This week's comments</h2>
  <p>Woohoo this is the start</p>
  <p>Caribou rocks</p>
  <li><a href="">View All</a></li>
