<div class="adminHomeStyle">
<h2>Step Up Staff</h2>
<div ng-init= "AHC.getAdmins()">
	<md-content layout-gt-sm="row" layout-padding>
		<div ng-repeat="admin in AHC.adminArray" layout='column'>
			<h4>First Name:</h4>{{admin.firstname}}
      <md-divider ></md-divider>
			<h4>Last Name:</h4>{{admin.lastname}}
      <md-divider ></md-divider>
			<h4>Email:</h4>{{admin.email}}
      <md-divider ></md-divider>
      <button ng-click="AHC.deleteAdmins(admin.id)" md-button class="md-raised md-primary">Remove</button>
		</div>
		<md-divider ></md-divider>
	</md-content>
</div>
<h2>Add New Admin</h2>
<div layout-gt-sm="row" layout-padding>
	<md-content>
		<md-input-container>
			<label>First Name</label>
			<input ng-model="AHC.adminFirstNameIn" type="name">
		</md-input-container>

		<md-input-container>
			<label>Last Name</label>
			<input ng-model="AHC.adminLastNameIn" type="name">
		</md-input-container>

		<md-input-container>
			<label>Email</label>
			<input ng-model="AHC.adminEmailIn" type="email">
		</md-input-container>
		<button ng-click="AHC.postAdmins(AHC.adminFirstNameIn, AHC.adminLastNameIn, AHC.adminEmailIn)" md-button class="md-raised md-primary">Add New Admin</button>
	</md-content>
</div>
</div>
