<title>Admin Intern View</title>
<div class="adminIntern">
  <div layout="row" layout-align="center" flex="70">
    <md-content class="md-padding">
      <md-nav-bar class="navBar">
        <md-nav-item md-nav-href="#admin-home" name="Home">Home</md-nav-item>
        <md-nav-item md-nav-href="#admin-intern" name="Interns">Interns</md-nav-item>
        <md-nav-item md-nav-href="#updateQuestions" name="Update Questions">Update Questions</md-nav-item>
        <md-nav-item md-nav-href="#importExport" name="Import/Export">Import/Export</md-nav-item>
      </md-nav-bar>
    </md-content>
  </div>
  <style>
  /*list styles*/
  ul.a {
    list-style-type: circle;
  }
  /*list style end*/
  </style>
  <!-- contact interns list -->
  <h2>Achieve: 30% have responded</h2>
  <h2>Discover: 50% have responded</h2>
  <md-content>
    <h2>Interns who wish to be contacted:</h2>
    <ul class="a">
      <md-list flex>FirstName, LastName, Phone</md-list>
      <md-list flex>FirstName, LastName, Phone</md-list>
      <md-list flex>FirstName, LastName, Phone</md-list>
    </ul>
  </md-content>
  <md-content>
    <h2>Flagged Interns (1-2 Range Reseponses):</h2>
    <ul class="a">
      <md-list flex>FirstName, LastName, Phone</md-list>
      <md-list flex>FirstName, LastName, Phone</md-list>
      <md-list flex>FirstName, LastName, Phone</md-list>
    </ul>
  </md-content>
  <h2>This week's comments:</h2>
  <md-tabs>
    <md-tab label="Comment #1"><p>Woohoo this is the start</p></md-tab>
    <md-tab label="Comment #2"><p>Caribou rocks</p></md-tab>
    <md-tab label="Comment #3"><p>Comment tabs are super cool!</p></md-tab>
    <md-tab><a href="" md-highlight-text="searchTerm">View All Comments</a></md-tab>
  </md-tabs>
</div>
