<md-toolbar layout="column">
	<h1>Step-Up Check-In</h1>
</md-toolbar>
<div layout="row" layout-align="center" flex="70">
	<md-content class="md-padding">
		<md-nav-bar class="navBar">
			<md-nav-item md-nav-href="#admin-home" name="Home">Home</md-nav-item>
			<md-nav-item md-nav-href="#admin-intern" name="Interns">Interns</md-nav-item>
			<md-nav-item md-nav-href="#updateQuestions" name="Update Questions">Update Questions</md-nav-item>
			<md-nav-item md-nav-href="#importExport" name="Import/Export">Import/Export</md-nav-item>
		</md-nav-bar>
	</md-content>
</div>
<h2>Step up Staff</h2>
<div>
	<md-content layout="column" layout-gt-sm="row" layout-padding>
		<p>ng repeat it here</p>
		<md-divider ></md-divider>
	</md-content>
</div>
<h2>Add new Admin</h2>
<div>
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<md-input-container>
			<label>First Name</label>
			<input type="name">
		</md-input-container>

		<md-input-container>
			<label>Last Name</label>
			<input type="name">
		</md-input-container>

		<md-input-container>
			<label>Email</label>
			<input type="email">
		</md-input-container>
		<button md-button>Add New Admin</button>
	</md-content>
</div>
