<meta name="viewport" content="width=device-width, initial-scale=1">
<div ng-init="FBFC.getQuestions()">
	<span layout="column" flex="33" class="toplogo"><img class="stepUp" src="public/image/STEP-UP logo no tag with white.jpg"></span>

	<md-toolbar id="toolbar" layout="column">
		<h1 id="toolBarText">Please Check-In with us!</h1>
	</md-toolbar>
	<md-content class="pageContent feedbackform">
		<form ng-submit="submit()" ng-cloak>

			<div ng-repeat="question in FBFC.activeQuestions">
				<div id="{{question.id}}">
					<h3 class= "questionFeedback" >Question {{question.count}}: {{question.q_text}}</h3>
					<div class="radioGroup">
						<md-radio-group ng-model="question.data" ng-required="true">
							<md-radio-button value="5"> 5  <img style="height:6vmin; width: 6vmin;" src="public/image/Smiling_Emoji_with_Eyes_Opened.png" alt=""></md-radio-button>
							<md-radio-button value="4"> 4  <img style="height:6vmin; width: 6vmin;" src="public/image/Slightly_Smiling_Face_Emoji.png" alt=""></md-radio-button>
							<md-radio-button value="3"> 3  <img style="height:6vmin; width: 6vmin;" src="public/image/Neutral_Face_Emoji.png" alt=""></md-radio-button>
							<md-radio-button value="2"> 2  <img style="height:6vmin; width: 6vmin;" src="public/image/Confused_Face_Emoji.png" alt=""></md-radio-button>
							<md-radio-button value="1"> 1  <img style="height:6vmin; width: 6vmin;" src="public/image/Very_sad_emoji_icon_png.png" alt=""></md-radio-button>
						</md-radio-group>
					</div>
				</div>

			</div>

			<br />
			<h3>Do you want someone from STEP-UP to contact you this week?</h3>
			<div flex-gt-sm="50">
				<md-checkbox ng-model="cb1" aria-label="Checkbox 1">
					Yes, please talk with me.
				</md-checkbox>
			</div>

			<h3>Do you have any other comments?</h3>
			<md-input-container class="comment">
				<label>Write here:</label>
				<textarea ng-model="comment" rows="3" flex></textarea>
			</md-input-container>

			<br />

			<md-button class="mainButtons" ng-click="FBFC.submitFeedback(comment, cb1)">Submit</md-button>
		</md-content>
	</DIV>
