<md-content class="pageContent feedbackform">
  <span layout="column" flex="33" class="toplogo"><img class="stepUp" src="public/image/STEP-UP logo no tag with white.jpg"></span>
  <md-toolbar id="toolbar" layout="column">
    <h2 id="toolBarText">Hi, Jim! Weekly Feedback</h2>
  </md-toolbar>
  <form ng-submit="submit()" ng-cloak>
    <h3 ng-model="q1" value="2">Do you feel welcome in your workplace?</h3><h5>1 = not welcome - 5 =  very welcome</h5>
    <md-radio-group ng-model="group1">
      <md-radio-button value="1"> 1  <img style="height:6vmin; width: 6vmin;" src="public/image/Very_sad_emoji_icon_png.png" alt=""></md-radio-button>
      <md-radio-button value="2"> 2  <img style="height:6vmin; width: 6vmin;" src="public/image/Confused_Face_Emoji.png" alt=""></md-radio-button>
      <md-radio-button value="3"> 3  <img style="height:6vmin; width: 6vmin;" src="public/image/Neutral_Face_Emoji.png" alt=""></md-radio-button>
      <md-radio-button value="4"> 4  <img style="height:6vmin; width: 6vmin;" src="public/image/Slightly_Smiling_Face_Emoji.png" alt=""></md-radio-button>
      <md-radio-button value="5"> 5  <img style="height:6vmin; width: 6vmin;" src="public/image/Smiling_Emoji_with_Eyes_Opened.png" alt=""></md-radio-button>
    </md-radio-group>
    <h3 ng-model="q2" value="3">How supportive is your supervisor?</h3><h5> 1 = not Supportive - 5 = very supportive</h5>
    <md-radio-group ng-model="group2">
      <md-radio-button value="1"> 1  <img style="height:6vmin; width: 6vmin;" src="public/image/Very_sad_emoji_icon_png.png" alt=""></md-radio-button>
      <md-radio-button value="2"> 2  <img style="height:6vmin; width: 6vmin;" src="public/image/Confused_Face_Emoji.png" alt=""></md-radio-button>
      <md-radio-button value="3"> 3  <img style="height:6vmin; width: 6vmin;" src="public/image/Neutral_Face_Emoji.png" alt=""></md-radio-button>
      <md-radio-button value="4"> 4  <img style="height:6vmin; width: 6vmin;" src="public/image/Slightly_Smiling_Face_Emoji.png" alt=""></md-radio-button>
      <md-radio-button value="5"> 5  <img style="height:6vmin; width: 6vmin;" src="public/image/Smiling_Emoji_with_Eyes_Opened.png" alt=""></md-radio-button>
    </md-radio-group>
  <h3 ng-model="q3" value="4">To what extent do you feel properly trained for your internship? </h3><h5> 1 = not properly trained - 5 = very trained</h5>
  <md-radio-group ng-model="group3">
    <md-radio-button value="1"> 1  <img style="height:6vmin; width: 6vmin;" src="public/image/Very_sad_emoji_icon_png.png" alt=""></md-radio-button>
    <md-radio-button value="2"> 2  <img style="height:6vmin; width: 6vmin;" src="public/image/Confused_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="3"> 3  <img style="height:6vmin; width: 6vmin;" src="public/image/Neutral_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="4"> 4  <img style="height:6vmin; width: 6vmin;" src="public/image/Slightly_Smiling_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="5"> 5  <img style="height:6vmin; width: 6vmin;" src="public/image/Smiling_Emoji_with_Eyes_Opened.png" alt=""></md-radio-button>
  </md-radio-group>
  <h3 ng-model="q4" value="5">Do you like your internship?</h3><h5>1 = I don't like it at all - 5 = I like it very much</h5>
  <md-radio-group ng-model="group4">
    <md-radio-button value="1"> 1  <img style="height:6vmin; width: 6vmin;" src="public/image/Very_sad_emoji_icon_png.png" alt=""></md-radio-button>
    <md-radio-button value="2"> 2  <img style="height:6vmin; width: 6vmin;" src="public/image/Confused_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="3"> 3  <img style="height:6vmin; width: 6vmin;" src="public/image/Neutral_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="4"> 4  <img style="height:6vmin; width: 6vmin;" src="public/image/Slightly_Smiling_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="5"> 5  <img style="height:6vmin; width: 6vmin;" src="public/image/Smiling_Emoji_with_Eyes_Opened.png" alt=""></md-radio-button>
  </md-radio-group>
  <h3 ng-model="q5" ng-value="6">Are your daily work tasks appropriately challenging?</h3><h5> 1 = not appropriate - 5 = appropriate</h5>
  <md-radio-group ng-model="group5">
    <md-radio-button value="1"> 1  <img style="height:6vmin; width: 6vmin;" src="public/image/Very_sad_emoji_icon_png.png" alt=""></md-radio-button>
    <md-radio-button value="2"> 2  <img style="height:6vmin; width: 6vmin;" src="public/image/Confused_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="3"> 3  <img style="height:6vmin; width: 6vmin;" src="public/image/Neutral_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="4"> 4  <img style="height:6vmin; width: 6vmin;" src="public/image/Slightly_Smiling_Face_Emoji.png" alt=""></md-radio-button>
    <md-radio-button value="5"> 5  <img style="height:6vmin; width: 6vmin;" src="public/image/Smiling_Emoji_with_Eyes_Opened.png" alt=""></md-radio-button>
  </md-radio-group>
<br />
<h3>Do you want someone from STEP-UP to contact you this week?</h3>
<div flex-gt-sm="50">
<md-checkbox ng-model="cb1" aria-label="Checkbox 1">
  Yes, please talk with me.
</md-checkbox>
</div>
<h3>Do you have any other comments?</h3>
<md-input-container class="comment">
<label>Write here:</label>
<textarea ng-model="comment" rows="3" flex></textarea>
</md-input-container>
<br />
<md-button class="md-raised md-primary" ng-click="FBFC.submitFeedback(comment, cb1)" href="http://10.100.100.65:3000/#/login">Submit</md-button>
</md-content>
