<main class="container" ng-app="theGoogles" >
  <!-- <div class="importExportMain"> -->

    <!-- <div class="importExport">
      <h1>Annual Import/Export</h1>
    </div> -->
    <md-toolbar id="toolbar" layout="column" style="height:50px">
      <h1 id="toolBarText">Data Import and Export</h1>
    </md-toolbar>
    <md-content class="pageContent" layout="row">

    <md-card layout-padding flex class="importFileContainer">
      <h2>Annual Intern Data Import</h2>
      <h3>Please select the intern CSV file:</h3>
      <input type="file" id="files" name="file" accept=".csv"/>
      <div id="progress_bar"><div class="percent">0%</div></div>
    </md-card>
    <!-- <md-button class="md-raised md-primary" ng-click="IEC.uploadInterns()" style="background-color: #008AC0"> -->
      <!-- <label>Import Interns</label> -->
    <!-- </md-button> -->

    <!-- <button ng-click="IEC.importInterns()" class="md-raised md-primary" type="button" name="button" md-button>Import</button> -->
    <md-card layout-padding flex>
    <h2>Download Response Report</h2><button ng-click="IEC.exportResponseData()" class="md-raised md-primary" type="button" name="button" style="background-color: #008AC0" md-button>Export</button></md-card>
  </md-content>
<md-content class="pageContent">
    <md-card layout-padding>
    <h2>Remove Interns from System</h2>
    <!-- <h3>Last name: </h3> -->
    <md-input-container>
      <label>Search by last name</label>
      <input ng-model="IEC.lastNameIn" type="text">
      <button ng-click="IEC.searchByLastName(IEC.lastNameIn)" class="md-raised md-primary" style="background-color: #008AC0" type="button" name="button" md-button>Submit</button>
      <div ng-repeat="intern in IEC.lastNameMatch.name">
        <md-content flex layout-padding>
          <h4>{{intern.first_name}} {{intern.last_name}}</h4>
          <span ng-show="intern.editMode" ><md-input-container><label>{{intern.phone}}</label><input ng-model="intern.phoneIn" type="text" ng-value="IEC.phone"></md-input-container></span>
          <span ng-hide="intern.editMode" >{{intern.phone}}</span>
          <button ng-show="intern.editMode" ng-click="IEC.editPhone(intern.primarykey, intern.phoneIn)" class="md-raised md-primary" type="button" name="button" style="background-color: #008AC0">Save</button>
          <button ng-hide="intern.editMode" ng-click="intern.editMode = !intern.editMode" class="md-raised md-primary" type="button" name="edit" md-button style="background-color: #008AC0">Edit Phone Number</button>
          <button ng-show="intern.editMode" ng-click="intern.editMode = !intern.editMode" class="md-raised md-primary" type="button" name="button" md-button style="background-color: #F68628">Cancel Edit</button>
          <button ng-hide="intern.editMode" ng-click="IEC.removeIntern($event, intern.primarykey, intern.last_name)" class="md-raised md-warn" type="button" name="delete" md-button style="background-color: #F68628">Remove</button>
        </md-content>
      </div>
    </md-input-container>
    </md-card>
  <!-- </div> -->
</md-content>

</main>
