<!-- Jim's Work -->
<main class="container" ng-app="theGoogles">
  <div class="updateQuestions">
    <h1>Update Questions:</h1>
    <div layout="column">
      <md-input-container>
        <label>Question 1</label>
        <md-select name="type" ng-model="">
          <md-option>Questions form DB</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Question 2</label>
        <md-select name="type" ng-model="">
          <md-option>Questions form DB</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Question 3</label>
        <md-select name="type" ng-model="">
          <md-option>Questions form DB</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Question 4</label>
        <md-select name="type" ng-model="">
          <md-option>Questions form DB</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Question 5</label>
        <md-select name="type" ng-model="">
          <md-option>Questions form DB</md-option>
        </md-select>
      </md-input-container>
    </div>
    <h2>Create New Question:</h2>
    <div>
      <md-input-container class="md-block">
        <label>Enter Question</label>
        <input ng-model="UQC.questionIn" type="text">
      </md-input-container>
      <md-input-container class="md-block">
        <md-checkbox name="tos" ng-model="UQC.flaggedIn">
          Yes, this is a flagged question.
        </md-checkbox>
      </md-input-container>
      <md-button ng-click ="UQC.addQuestion(UQC.questionIn)" class="md-raised md-primary">Add Question</md-button>
    </div>
    <br><br>
    <md-button ng-click ="UQC.addQuestion()" class="md-raised md-primary">Send Questions</md-button>
  </div>
</main>

<md-input-container>
</md-input-container>
