<main class="container" ng-app="theGoogles">
  <div class="updateQuestions">
    <h1>Update Questions</h1><br>
    <h3>Q1 <select class="" name="" style="width:10vmax"></select></h3>
    <h3>Q2 <select class="" name="" style="width:10vmax"></select></h3>
    <h3>Q3 <select class="" name="" style="width:10vmax"></select></h3>
    <h3>Q4 <select class="" name="" style="width:10vmax"></select></h3>
    <h3>Q5 <select class="" name="" style="width:10vmax"></select></h3>
    <button type="button" name="button">Save Weekly Questions</button>
    <h2>Create New Question:</h2>
    <input type="text" name="" value=""><button type="button" name="button">Add Question</button>
    <br><br><br>
    <button type="button" name="button">Send This Week's Questions</button>
  </div>
</main>
