<!-- Jim's Work -->
<main class="container" ng-app="theGoogles">
  <md-toolbar id="toolbar" layout="column" style="height:50px">
    <h1 id="toolBarText">Update Weekly Questions</h1>
  </md-toolbar>
  <div class="updateQuestions">
    <br>
    <md-card>
    <div class="pickQuestions">
      <h1>Pick Questions</h1>
    </div>
    <!-- <div ng-repeat="question in UQC.questionCont.questions">
      {{question.q_text}}
    </div> -->
    <md-card-content>
      <div layout="column">
        <md-input-container>
          <label>Question 1</label>
          <md-select ng-model="UQC.active1">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="question in UQC.questionCont.questions" ng-value="question.q_text" >{{question.q_text}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Question 2</label>
          <md-select ng-model="UQC.active2">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="question in UQC.questionCont.questions" ng-value="question.q_text" >{{question.q_text}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Question 3</label>
          <md-select ng-model="UQC.active3">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="question in UQC.questionCont.questions" ng-value="question.q_text" >{{question.q_text}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Question 4</label>
          <md-select ng-model="UQC.active4">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="question in UQC.questionCont.questions" ng-value="question.q_text" >{{question.q_text}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Question 5</label>
          <md-select ng-model="UQC.active5">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="question in UQC.questionCont.questions" ng-value="question.q_text" >{{question.q_text}}</md-option>
          </md-select>
        </md-input-container>
     </div>
    <md-card-content>
  </md-card>
  <br>
  <div class="sendSMS">
    <md-button ng-click="UQC.sendQuestion()" class="md-raised md-primary" id="sendFeedback">Send Feedback Link</md-button>
  </div>
  <br>
  <md-card>
    <div class="create">
      <h2>Create New Question</h2>
    </div>
    <div>
      <md-input-container class="md-block">
        <label>Enter Question</label>
        <input ng-model="UQC.questionIn" type="text">
      </md-input-container>
      <md-input-container class="md-block">
        <md-checkbox name="tos" ng-model="UQC.flaggedIn">
          Yes, this is a flagged question.
        </md-checkbox>
      </md-input-container>
      <div class="addQuestion">
        <md-button ng-click ="UQC.addQuestion(UQC.questionIn, UQC.flaggedIn)" class="md-raised md-primary" id="addQuestion">Add Question</md-button>
      </div>
    </div>
    </md-card>
    <br>
  </div>
</main>
