/***************************
General/Index
****************************/

html, body, nav {
  background-color: white;
}

#toolbar {
  background-color: #008AC0;
  color: white;
  /*margin: .5em;*/

}

#toolBarText {
  margin: 4vmin;
  font-size: 1.2em;
}

.logOut {
  margin: auto;
}


md-card,
md-content {
  background-color: white;
}

md-nav-bar .md-button._md-nav-button.md-unselected {
  color: rgb(0,138,192);
}
md-list {
    padding: 10px 14;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0,138,192);
}

.navbar {
  margin: 0px;
  padding: 0px;
  /*text-align: center;*/
  display: inline;

}

.md-content {
  margin:0px;
  padding:0px;
}


.stepUp {
  height: auto;
  width: 150px;
  /*margin: auto;*/
  display: inline;
  /*align-self: left;*/
  /*align-content: left;*/

  /*position: absolute;*/
  /*margin: -1em;*/
  /*padding: 10px;*/
  margin: 0px;
}

.CheckIn {
  /*text-align: center;*/
  font-family: 'Oswald', sans-serif;
  color: #008AC0;
  /*text-decoration: underline;*/
  /*font-size: 5vw;*/
}

.CheckInSpan {
  /*text-align: center;*/
  font-family: 'Oswald', sans-serif;
  color: #F68628;
}

/* nav */
nav {
  text-align: left;
}

a:link {
  color: #008AC0;
}

a:hover {
  color: #006086;
}

a:visited {
  color: #F68628;

}

body {
  font-family: 'Open Sans', sans-serif;
}

.pageContent {
  margin: 4vmin;
}

/***************************
admin-home
****************************/
.enterLink {
  text-align: center;
}

.adminHome {
  /*background-color: #e8e8ee;*/
  margin-left: 3vmin;
}

/***************************
admin-intern
****************************/
.adminIntern {
  /*margin-left: 3vmin;*/
  /*background-color: #e8e8ee;*/
}

/***************************
feddbackform
****************************/

/*//attempts to style the radio button*/
/*input[type='radio'] {
    transform: scale(2);
}*/

.questionFeedback {
  font-size: 5vw;
}

.questionFeedback p {
  font-size: 5vw;

}


.importExportMain {
  /*margin-left: 3vmin;*/
}

.mainButtons {
  background-color: #008AC0;
}


#progress_bar {
   margin: 10px 0;
   padding: 3px;
   border: 1px solid #000;
   font-size: 14px;
   clear: both;
   opacity: 0;
   -moz-transition: opacity 1s linear;
   -o-transition: opacity 1s linear;
   -webkit-transition: opacity 1s linear;
 }

 #progress_bar.loading {
   opacity: 1.0;
 }

 #progress_bar .percent {
   background-color: #008AC0;
   height: auto;
   width: 0;
 }

/***************************
Login
****************************/

.login {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #008AC0;
}

.signGoogle {
  text-align: center;
}


#addQuestion {
  background-color: #008AC0;
}

#submitQues {
  background-color: #008AC0;
}

#sendFeedback {
  background-color: #F68628;
  font-size: 2em;
  padding: .5em;
}

.addQuestion {
  text-align: center;
}

.sendSMS {
  text-align: center;
}

/***************************
Feedback Form 2
****************************/

.comment {
  width: 90%;
}
